.images {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2%;
}
@media screen and (max-width:736px) {
    .text{
        font-size: 15px;
    }
}